.planes_mobile{
	overflow: hidden;
	padding: 15px;
}
#hypercomments_widget{
	padding: 0px!important;
}
.plane_top{
	overflow: hidden;
}
.pt_left{
	width: 640px;
}
.p_descr{
	padding-bottom: 20px;
}
.plane_title{
	font-weight: bold;
	padding-bottom: 15px;
}
.plane_drop:before {
	content: "Подбор: ";
}
.plane_set_3:before {
	content: "3 куска: ";
}
.plane_set_5:before {
	content: "5 кусков: ";
}
.plane_set_8:before {
	content: "8 кусков: ";
}
.plane_table{
	display: table;
	width: 100%;
	line-height: normal;
	padding-bottom: 50px;
}
.plane_table>div{
	display: table-row;
}
.plane_table>div>div{
	display: table-cell;
	text-align: center;
	width: 33.3%;
	padding: 10px;
}
.tbnsblogo{
	vertical-align: middle;
}
.main_stat{
	font-weight: 600;
}
