/*
@media (min-width: 0px) and (max-width: 760px) {
.header{
	display: none;
}
.header_nav{
	overflow: hidden;
}
#menu li:hover ul{
	display: none!important;
	visibility: hidden!important;
}
#menu a{
	height: 16px;
	display: initial;
}
.header{
	height: auto;
}
.header_nav {
	height: auto;
}
.header_wrap, .ftop_inner {
	width:	100%;
}
.content {
	min-width: 100%;
}
.page , .page_text, img{
	width: 100%;
}
.page_text{
	padding: 10px;
}
#page_contents, .page_add, #fake_top_panel, #hypercomments_widget{
	display: none!important;
	visibility: hidden!important;
}
.footer_wrap{
	text-align: initial;
}
.footer_wrap a {
	padding-left: 6%;
	padding-top: 5px;
	display: block;
	text-align: initial;
	width: 100%;
}
.footer {
	min-width: 100%
}
table{
	width: 100%!important;
	line-height: inherit!important;
	border-collapse: collapse;
	border-spacing: 0;
}
td{
	display: block;
	width:0!important;
	float: left; 
	padding: 0px!important;
	margin: 5px;
	max-width: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.weps_table{
	width: 100%!important;
}
.weps_table_inner{
	height: 210px;
	margin-left: 20px!important;
	margin-top: 20px!important;
}
*/